/*
 Theme Name:   Twenty Nineteen Child
 Theme URI:    https://bitbucket.org/borgogelli/hello-wp-theme/
 Description:  A child theme of Twenty Nineteen WordPress theme with Bootstrap 4.0 and FontAwesome 4.7 support
 Author:       Andrea Borgogelli Avveduti
 Author URI:   https://bitbucket.org/borgogelli
 Template:     twentynineteen
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 
 FontAwsome references: https://fontawesome.com/cheatsheet/free/brands
 
*/

@import url("../twentynineteen/style.css");


   .social-gb {
        position:relative;
    }
	
	.social-gb a {
		text-decoration: none !important;
	}	

    .social-gb:before {
        font-family: FontAwesome;
        top:0;
        left:-5px;
        padding-right:10px;
        content: "\f09b"; 
    }
	
   .social-ln {
        position:relative;
    }
	
	.social-ln a {
		text-decoration: none !important;
	}	

    .social-ln:before {
        font-family: FontAwesome;
        top:0;
        left:-5px;
        padding-right:10px;
        content: "\f0e1"; 
    }
	
   .social-xg {
        position:relative;
    }
	
	.social-xg a {
		text-decoration: none !important;
	}		

    .social-xg:before {
        font-family: FontAwesome;
        top:0;
        left:-5px;
        padding-right:10px;
        content: "\f169"; 
    }

	.social-fb {
        position:relative;	
    }

	.social-fb a {
		text-decoration: none !important;
	}
	
    .social-fb:before {
        font-family: FontAwesome;
        top:0;
        left:-5px;
        padding-right:10px;
        content: "\f09a"; 
    }
